<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Git pages</title>
    <link rel="stylesheet" href="/asset/bulma.min-82aac43507618108.css">
    <link rel="stylesheet" href="/asset/fontawesome.min-5e9e696c59c57e83.css">
    <link rel="stylesheet" href="/asset/regular.min-a0c258fb7c5f655d.css">
    <link rel="stylesheet" href="/asset/solid.min-70c2e5caa950974d.css">
    <script type="application/javascript">
        function push() {
            //todo
        }
        function hideNotification() {
            document.getElementById('notification').style.display = 'none';
        }
        function showNotification(t) {
            const h = '<p>Please confirm this deletion</p>' +
                '<div><button class="button" onclick="remove(this);">删除/Remove</button>' +
                '<button class="button" onclick="this.parentNode.parentNode.parentNode.style.display=\'none\'">取消/Cancel</button></div>';
            document.getElementById('errorMessage').innerHTML = h;
            document.getElementById('notification').style.display = 'block';
        }
        function remove(t) {
            const clazzName = t.className;
            t.disabled = true;
            t.className = clazzName + ' is-loading';
            fetch('/git/remove').then(response => response.json())
                .then(data => {
                    t.className = clazzName;
                    t.disabled = false;
                    console.log(data);
                    if (data.status === 0) {
                        location.href = 'git-pages';
                    } else {
                        document.getElementById('errorMessage').innerHTML = data.error.detail;
                        document.getElementById('notification').style.display = 'block';
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        }
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.style.display = 'none';
                });
            });
        });
    </script>
</head>
<body>
<div class="container">
    <h1 class="title">
        Git pages settings
    </h1>
    <p>&nbsp;</p>
    <table class="table">
        <tr>
            <td>仓库地址/Git repository URL</td>
            <td>{{remote_url}}</td>
        </tr>
        <tr>
            <td>邮箱/Email</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>用户名/UserName</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>分支/Branch</td>
            <td>
                {% if branches|length > 1 %}
                <select id="branches">
                    <option>请选择分支/Please choose a branch</option>
                    {% for branch in branches %}
                    <option value="{{ branch }}">{{ branch }}</option>
                    {% endfor %}
                </select>
                {% else %}
                {{branch}}
                {% endif %}
            </td>
        </tr>
    </table>
    <div>
        <button class="button is-medium" onclick="push();">同步/Push</button>
        <button class="button is-medium" onclick="location.href='/management';">返回/Back</button>
        <button class="button is-medium" onclick="showNotification(this);">删除/Remove</button>
    </div>
    <div id="notification" class="notification is-danger is-light" style="display:none;width:435px">
        <button class="delete"></button>
        <span id="errorMessage"></span>
    </div>
</div>
</body>
</html>