<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Git pages</title>
    <link rel="stylesheet" href="/asset/bulma.min-82aac43507618108.css">
    <link rel="stylesheet" href="/asset/fontawesome.min-5e9e696c59c57e83.css">
    <link rel="stylesheet" href="/asset/regular.min-a0c258fb7c5f655d.css">
    <link rel="stylesheet" href="/asset/solid.min-70c2e5caa950974d.css">
    <script src="/asset/common.js"></script>
    <script type="application/javascript">
        function setBranch(t) {
            const branch = document.getElementById('branches').value;
            if (branch) {
                fetch_get(t, '/git/branch/set/' + encodeURIComponent(branch), 'git-pages');
            }
        }
        function push(t) {
            const pwd = document.getElementById('git-password').value;
            if (!pwd) {
                showErr('Git password is needed.');
                return;
            }
            fetch_get(t, '/git/push/' + encodeURIComponent(pwd), 'git-pages');
        }
        function showNotification() {
            const h = '<p>Please confirm this deletion</p>' +
                '<div><button class="button" onclick="remove(this);">删除/Remove</button>' +
                '<button class="button" onclick="this.parentNode.parentNode.parentNode.style.display=\'none\'">取消/Cancel</button></div>';
            showErr(h);
        }
        function remove(t) {
            fetch_get(t, '/git/remove', 'git-pages');
        }
    </script>
</head>
<body>
<div class="container">
    <h1 class="title">
        Git pages settings
    </h1>
    <p>&nbsp;</p>
    <table class="table">
        <tr>
            <td>仓库地址/Git repository URL</td>
            <td>{{remote_url}}</td>
        </tr>
        <tr>
            <td>邮箱/Email</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>用户名/UserName</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>分支/Branch</td>
            <td>
                {% if branches|length > 1 %}
                <select id="branches">
                    <option>请选择分支/Please choose a branch</option>
                    {% for branch in branches %}
                    <option value="{{ branch }}">{{ branch }}</option>
                    {% endfor %}
                </select>
                {% else %}
                {{branch}}
                {% endif %}
            </td>
        </tr>
        {% if branch %}
        <tr>
            <td>导出的子目录/Subdirectory for exporting</td>
            <td>
                <input class="input" id="subdirectory" type="text" placeholder="public/site">
                <p class="help">This can be empty.</p>
            </td>
        </tr>
        <tr>
            <td>是否渲染成HTML/Render to HTML</td>
            <td>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="exportTemplate">
                        Yes
                    </label>
                    <label class="radio">
                        <input type="radio" name="exportTemplate" checked>
                        No
                    </label>
                </div>
                <p><a href="./export-templates">Templates management</a></p>
            </td>
        </tr>
        <tr>
            <td>同步密码/Git password <span style="color:red">*</span> </td>
            <td>
                <input class="input" id="git-password" type="password" placeholder="Git password">
                <p class="help">Git password for {{name}}. This tool <b>don't record any credentials</b>.</p>
            </td>
        </tr>
        {% endif %}
    </table>
    <div>
        {% if branches|length > 1 %}
        <button class="button is-medium" onclick="setBranch(this);">确认分支/Confirm branch</button>
        {% else %}
        <div class="field has-addons">
            <div class="control">
                <button class="button is-medium" onclick="push(this);">同步/Push</button>
            </div>
            <div class="control">
                <button class="button is-medium" onclick="location.href='/management';">返回/Back</button>
            </div>
            <div class="control">
                <button class="button is-medium" onclick="showNotification();">删除/Remove</button>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="notification" class="notification is-danger is-light" style="display:none;width:435px">
        <button class="delete"></button>
        <span id="errorMessage"></span>
    </div>
</div>
</body>
</html>